.section2 {
    display: grid;
    grid-template-columns: 56% 44%;
    padding: 40px 0;
    box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.2);
    width: 85%;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 35px;

    @media screen and (max-width: 700px) {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        width: 90%;
        padding: 50px 0;
    }

    .illustration2 {
        width: 82%;
        margin: 0 auto;

        @media screen and (max-width: 700px) {
            margin-top: 10px;
            margin-bottom: 50px;
        }

        img {
            width: 80%;
        }
    }
    .Flowing {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;

        @media screen and (max-width: 700px) {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        
        h2 {
            margin-bottom: 15px;

            @media screen and (max-width: 500px) {
                font-size: 1.3rem;
            }
        }
        p {
            color: $p;
            max-width: 540px;

            @media screen and (max-width: 600px) {
                font-size: 0.9rem;
                line-height: 22px;
                min-width: 258px;
            }
        }
    }
}